<h2>List of students authorized to borrow a calculator</h2>
<form [formGroup]="searchForm" (ngSubmit)="submit($event)">
  <label for="name">Search for a student: </label><br>
  <input placeholder="Enter name or index of a student" class="input-box" type="text" id="data" name="data" formControlName="data">
  <input type="submit" value="Search"> <br><br>
</form>
<div>{{isAuthorized}} </div>


<table *ngIf="this.authorizedStudents.size>0">
  <tr><td>Name</td><td>Index number</td></tr>
  <ng-container *ngFor="let student of authorizedStudents | keyvalue">
    <tr><td>{{ student.value }}</td><td>{{ student.key }}</td></tr>
    
  </ng-container>

</table>
